// Default configuration used for the base projects.
#include "base.xcconfig"

//BUILD_LIBRARY_FOR_DISTRIBUTION = YES

// TODO: Enable warnings-as-errors
//OTHER_SWIFT_FLAGS[config=Debug] = $(inherited)
//OTHER_SWIFT_FLAGS[config=Release] = $(inherited) -warnings-as-errors

SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug] = $(inherited) DEBUG //USING_TURF_WITH_LIBRARY_EVOLUTION
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Release] = $(inherited) RELEASE //USING_TURF_WITH_LIBRARY_EVOLUTION
