[submodule "mapbox-gl-native-internal"]
	path = mapbox-gl-native-internal
	url = git@github.com:mapbox/mapbox-gl-native-internal.git
[submodule "mapbox-maps-ios"]
	path = mapbox-maps-ios
	url = git@github.com:mapbox/mapbox-maps-ios.git
