.DS_Store
/build
.build
/Packages
xcuserdata
node_modules
developer.xcconfig
Carthage
Cartfile*
MapboxAccessToken
scripts/release/packager/artifacts
scripts/release/packager/build
scripts/xcparty/.swiftpm
MapboxMaps.xcodeproj
*.doccarchive
Sources/MapboxMaps/Documentation.docc/*.html

.vscode
