.DS_Store
/build
/.build
/Packages
xcuserdata/
/Mapbox/MapboxMaps.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
node_modules
developer.xcconfig
Carthage
api-docs
Package.resolved
.swiftpm/
