binary "https://api.mapbox.com/downloads/v2/carthage/mapbox-common/MapboxCommon-ios.json" == 10.0.0-beta.11
binary "https://api.mapbox.com/downloads/v2/carthage/mobile-maps-core/MapboxCoreMaps-dynamic.json" == 10.0.0-beta.15
github "mapbox/turf-swift" == 2.0.0-alpha.2
github "mapbox/mapbox-events-ios" ~> 0.10