// Common configurations used across projects and targets
// Sorted alphabetically within sections

// -----------------------------------------------------------------------------
// Build System

ALWAYS_SEARCH_USER_PATHS = NO

DEVELOPMENT_TEAM = GJZR2MEM28

ENABLE_TESTABILITY[config=Release] = NO
ENABLE_TESTABILITY[config=Debug] = YES

IPHONEOS_DEPLOYMENT_TARGET = 12.0
MACOSX_DEPLOYMENT_TARGET =

SDKROOT = iphoneos
SKIP_INSTALL = YES
SUPPORTS_MACCATALYST = NO

// -----------------------------------------------------------------------------
// Swift

SWIFT_VERSION = 5.7

// -----------------------------------------------------------------------------
// Clang

CLANG_ANALYZER_GCD_PERFORMANCE = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE

CLANG_CXX_LANGUAGE_STANDARD = c++17

// Static analysis doesn't include Swift, so no harm enabling for those cases
// where there may be some Obj-C
CLANG_STATIC_ANALYZER_MODE[config=Release] = deep

// Apple Clang - Warnings - All languages
CLANG_WARN_COMPLETION_HANDLER_MISUSE = YES
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_FRAMEWORK_INCLUDE_PRIVATE_FROM_PUBLIC = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES

GCC_ENABLE_CPP_RTTI = NO

GCC_TREAT_WARNINGS_AS_ERRORS = YES

GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNUSED_LABEL = YES

LD_GENERATE_MAP_FILE = YES

RUN_CLANG_STATIC_ANALYZER = YES

APPLICATION_EXTENSION_API_ONLY=YES

// -----------------------------------------------------------------------------
// Custom

CURRENT_COMMIT_HASH = deadbeef
#include? "../developer.xcconfig"
